<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <%=greeting%>
    <a href="/logout">
      <button>Sign Out</button>
    </a>
  </body>
</html>
